@media screen and (min-width: 580px) {

  .form {
  }

  #info-container {
  }

  .text-container {
    font-size: 2.2rem;
  }
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
