
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// adminlte colors
$color1: #2A3440;
$color2: #27292B;
$color3: #969EA7;
$color4: #B5BEC6;
$color5: #F3F4F1;

// logo
// #367fa9
// AgentQuote adminlte theme
$primary_bg: #3c8dbc;
$secondary_bg: #313E4D;
$logo_bg: #344150;
$top_bar: #3c8dbc;
$profile_bg: #5a6268;
$suggested_product_bg: #313E4D;
$secondary_product_bg: #212933;
$light_gray: #ecf0f5;
$medium_gray: #606871;
$bottom_quote_bar: #3c8dbc;
$signup_bg_bar: #344150;


$siteColorN: #999999;
$siteColorN: #ffffff;
$siteColorN: #f6f6f6;
$siteColorN: #eeeeee;
$siteColorN: #f4f4f4;
$siteColorN: #3875d7;
$siteColorN: #2a62bc;
$siteColorN: #f0f0f0;
$siteColorN: #e8e8e8;
$siteColorN: #e4e4e4;
$siteColorN: #d4d4d4;
$siteColorN: #5897fb;
$siteColorN: #248511;
$siteColorN: #c0c0c0;
$siteColorN: #2e3a48;
$siteColorN: #dddddd;
$siteColorN: #81d3d0;
$siteColorN: #777777;
$siteColorN: #fcf8e3;
$siteColorN: #2fa39f;
$siteColorN: #3c763d;
$siteColorN: #2b542c;
$siteColorN: #31708f;
$siteColorN: #245269;
$siteColorN: #8a6d3b;
$siteColorN: #66512c;
$siteColorN: #a94442;
$siteColorN: #843534;
$siteColorN: #dff0d8;
$siteColorN: #c1e2b3;
$siteColorN: #d9edf7;
$siteColorN: #afd9ee;
$siteColorN: #f7ecb5;
$siteColorN: #f2dede;
$siteColorN: #e4b9b9;
$siteColorN: #c7254e;
$siteColorN: #f9f2f4;
$siteColorN: #333333;
$siteColorN: #f5f5f5;
$siteColorN: #cccccc;
$siteColorN: #f9f9f9;
$siteColorN: #d0e9c6;
$siteColorN: #c4e3f3;
$siteColorN: #faf2cc;
$siteColorN: #ebcccc;
$siteColorN: #ff0000;
$siteColorN: #ff0b0b;
$siteColorN: #374046;
$siteColorN: #cadbe3;
$siteColorN: #e5e5e5;
$siteColorN: #f1f1f1;
$siteColorN: #000000;
$siteColorN: #faffbd;
$siteColorN: #ffe6e7;
$siteColorN: #cffeca;
$siteColorN: #d8f3fd;
$siteColorN: #d70000;
$siteColorN: #a9dba9;
$siteColorN: #46a546;
$siteColorN: #229692;
$siteColorN: #fbb450;
$siteColorN: #f89406;
$siteColorN: #ee5f5b;
$siteColorN: #bd362f;
$siteColorN: #62c462;
$siteColorN: #51a351;
$siteColorN: #444444;
$siteColorN: #222222;
$siteColorN: #262626;
$siteColorN: #176764;
$siteColorN: #f8f8f8;
$siteColorN: #e7e7e7;
$siteColorN: #5e5e5e;
$siteColorN: #555555;
$siteColorN: #888888;
$siteColorN: #080808;
$siteColorN: #9d9d9d;
$siteColorN: #101010;
$siteColorN: #d5d5d5;
$siteColorN: #fcdd9a;
$siteColorN: #d6e9c6;
$siteColorN: #c9e2b3;
$siteColorN: #bce8f1;
$siteColorN: #a6e1ec;
$siteColorN: #faebcc;
$siteColorN: #f7e1b5;
$siteColorN: #ebccd1;
$siteColorN: #e4b9c0;
$siteColorN: #dcf5f4;
$siteColorN: #46494d;
$siteColorN: #e3e3e3;
$siteColorN: #f7f7f7;
$siteColorN: #ebebeb;
$siteColorN: #c73e59;
$siteColorN: #962239;
$siteColorN: #87c13f;
$siteColorN: #609122;
$siteColorN: #e8bd18;
$siteColorN: #b28c00;
$siteColorN: #3b5998;
$siteColorN: #df4a32;
$siteColorN: #030303;
$siteColorN: #979fa8;
$siteColorN: #f3f4f1;
$siteColorN: #69d0cc;
$siteColorN: #94dad8;
$siteColorN: #3ec7c2;
$siteColorN: #787f86;