


@media screen and (max-width: 640px) {

    .rc-i {

    }

    .rcc {
        .rc {
            .rc-h {
                font-size: 1.9rem;
                line-height: 1.2;
            }
            .rc-p {
                font-size: 1.8rem;
            }
        }

    }

    .rc-f {
        .p-name {
            font-size: 1.6rem !important;
            padding: 10px 7px !important;
        }
    }


}
