footer.page-footer.text-center
  .footer-container.footer-copyright
    .shell
      p
        | &#169;
        =' '
        span(class="copyright-year")
        =' '
        a(href="index.html")
          span.text-primary Dental
          span.text-white Plus
        ='. '
        a(href="privacy.html") Privacy Policy
