// RD Navbar top part
.rd-navbar-top-part.bg-primary
  .shell
    .reveal-sm-flex.range-sm-justify
      div
        +list-social("list-inline-md", "", "icon-default")
      div.offset-top-5.offset-md-top-0
        ul.list-inline.list-inline-sm.reveal-inline.reval-md-block
          li.text-white.text-italic
            | Make an Appointment Now!
          li
            a(href="#" data-toggle="modal" data-target="#bookAppointment").text-white.text-extra-bold.link-underline
              | Book an Appointment