// RD Navbar Nav
ul.rd-navbar-nav
	li.active
		a(href='#home') Home
	li
		a(href='#about') About us
	li
		a(href='#team') Our Team
	li
		a(href='#services') Services
	li
		a(href='#news') News
	li
		a(href='#contacts') Contacts