// Our services
section.section-60.section-md-top-80.section-md-bottom-85
  .shell
    h3.text-center Our services
    .range.range-xs-center.text-center.offset-top-30
      .cell-xs-8.cell-sm-6.cell-md-3
        a.thumbnail-custom(href="general-and-preventative-care.html")
          +img-set-dimensions('images/services-04-270x270.jpg', 'img-responsive')
        h4
          a(href='general-and-preventative-care.html')
           | General and preventive care
      .cell-xs-8.cell-sm-6.cell-md-3.offset-top-60.offset-sm-top-0
        a.thumbnail-custom(href='cosmetic-solution.html')
          +img-set-dimensions('images/services-5-270x270.jpg', 'img-responsive')
        h4
          a(href='cosmetic-solution.html')
           | Cosmetic solutions
      .cell-xs-8.cell-sm-6.cell-md-3.offset-top-60.offset-md-top-0
        a.thumbnail-custom(href='restorative-solution.html')
          +img-set-dimensions('images/services-6-270x270.jpg', 'img-responsive')
        h4
          a(href="restorative-solution.html")
           | Restorative solutions
      .cell-xs-8.cell-sm-6.cell-md-3.offset-top-60.offset-md-top-0
        a.thumbnail-custom(href="additional-treatments.html")
          +img-set-dimensions('images/services-7-270x270.jpg', 'img-responsive')
        h4
          a(href="additional-treatments.html")
           | Additional treatments
