section.bg-primary.section-60.section-md-80
  .shell
    .range.range-xs-center.range-md-middle
      .cell-sm-10.cell-md-9
        h3.text-white Please use this schedule for
        h5.text-white more information about our dental services or booking an appointment with us.
      .cell-sm-10.cell-md-3.text-md-right.offset-top-25.offset-md-top-0
        a(href="book.html").btn.btn-primary Book an Appointment
