include ../elements/_ui-testimonial-variant-1

section.bg-alabaster.section-60.section-md-top-80.section-md-bottom-70
  .shell
    h3.text-center Medical Team
    .range.range-xs-center.range-md-middle
      .cell-xs-8.cell-sm-4
        +testimonial-varian-1(
        {
          "path": 'images/testimonials-01-116x116.jpg',
          "width": '116',
          "height": '116'
        },
        'I urgently required dental help last 4th of July. And despite all other clinics being closed, DentalPlus took my appointment!',
        'Herbert Wallace',
        'May 10, 2018')
      .cell-xs-8.cell-sm-4.offset-top-60.offset-sm-top-0
        +testimonial-varian-1(
        {
          "path": 'images/testimonials-02-116x116.jpg',
          "width": '116',
          "height": '116'
        },
        'Comparing teeth whitening prices here and elsewhere, I picked DentalPlus. The result was beyond my expectations!',
        'Gary Growles',
        'May 10, 2018')
      .cell-xs-8.cell-sm-4.offset-top-60.offset-sm-top-0
        +testimonial-varian-1(
        {
          "path": 'images/testimonials-03-116x116.jpg',
          "width": '116',
          "height": '116'
        },
        'Taking my kids to a dentist has never been easier. They just loved the welcoming and warm atmosphere in there!',
        'Daniela McMillan',
        'May 10, 2018')