// Certifications
section.bg-alabaster.section-60.section-md-top-80.section-md-bottom-90
  .shell
    h3.text-center Certifications
    .range.range-xs-center
      .cell-sm-4
        +img-set-dimensions('images/sertificate-01-370x370.jpg', 'img-responsive')
      .cell-sm-4.offset-top-40.offset-sm-top-0
        +img-set-dimensions('images/sertificate-02-370x370.jpg', 'img-responsive')
      .cell-sm-4.offset-top-40.offset-sm-top-0
        +img-set-dimensions('images/sertificate-03-370x370.jpg', 'img-responsive')