// Why choose the DentalPlus clinic?
section.bg-primary.section-60.section-md-top-70.section-md-bottom-60
  .shell.text-center
    h3.text-center.text-white Why choose the DentalPlus clinic?
    .range.range-xs-center.offset-top-40
      .cell-sm-6.cell-md-3
        .icon.fa-book.icon-circle.icon-xl.text-middle.text-white
        h4.text-white Easy booking
        p
          | Booking an appointment at our dental clinic is as easy as doing 2 clicks!

      .cell-sm-6.cell-md-3.offset-top-60.offset-sm-top-0
        .icon.fa-group.icon-circle.icon-xl.text-middle.text-white
        h4.text-white Experience
        p
          | Combined, our 5 dentists have over half a century of practical experience. They are ready to put it to action for you!

      .cell-sm-6.cell-md-3.offset-top-60.offset-md-top-0
        .icon.fa-clock-o.icon-circle.icon-xl.text-middle.text-white
        h4.text-white Flexible schedule
        p
          | We work during all state holidays, besides working till late during the regular days. In case of emergencies we accept weekend bookings.

      .cell-sm-6.cell-md-3.offset-top-60.offset-md-top-0
        .icon.fa-thumbs-up.icon-circle.icon-xl.text-middle.text-white
        h4.text-white Best price guarantee
        p
          | Our reasonable prices made thousands of people smile with a new, beautiful smile, as never before!!