// Medical Team
section.section-60.section-md-top-80.section-md-bottom-90
  .shell
    h3.text-center Medical Team
    .range.range-xs-center
      .cell-sm-6.cell-md-3.reveal-md-flex.flex-direction-column
        +img-set-dimensions('images/elements-10-270x270.jpg', 'img-responsive')
        h4.text-light
          a(href="team-member-01.html") Dr. Mark Hoffman
        h6.text-gray-light Dentist
        p Our clinic's Chief Medical Officer, Dr. Mark Hoffman has been working in this field of medical specialization since 2002. After founding his own clinic in 2010 he brought all his experience here. Most of all he loves to see you walk out with a bright wide smile!
        .offset-top-auto
          ul.list-inline.list-inline-md
            li
              a.icon.reveal-inline.icon-primary.fa-facebook(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-twitter(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-google-plus(href='#')

      .cell-sm-6.cell-md-3.reveal-md-flex.flex-direction-column.offset-top-60.offset-sm-top-0
        +img-set-dimensions('images/elements-11-270x270.jpg', 'img-responsive')
        h4.text-light
          a(href="team-member-02.html") Leslie Gross
        h6.text-gray-light Dental Hygienist
        p Leslie is one of the most experienced dental hygienists in the county. She works at our dental clinic since day 1. No one contributed more to our customer's satisfaction and concerns resolving, than her.
        .offset-top-auto
          ul.list-inline.list-inline-md
            li
              a.icon.reveal-inline.icon-primary.fa-facebook(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-twitter(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-google-plus(href='#')

      .cell-sm-6.cell-md-3.reveal-md-flex.flex-direction-column.offset-top-60.offset-md-top-0
        +img-set-dimensions('images/elements-14-270x270.jpg', 'img-responsive')
        h4.text-light
          a(href="team-member-03.html") Dana Sims
        h6.text-gray-light Practical Nurse
        p Dana previously served as a senior practical nurse at the Mayo clinic. She obtained her license by working hard after graduating from a medical college with cum laude honors. She truly represents all the care that our dental office is surrounded with and our patients feel that every time.
        .offset-top-auto
          ul.list-inline.list-inline-md
            li
              a.icon.reveal-inline.icon-primary.fa-facebook(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-twitter(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-google-plus(href='#')

      .cell-sm-6.cell-md-3.reveal-md-flex.flex-direction-column.offset-top-60.offset-md-top-0
        +img-set-dimensions('images/elements-15-270x270.jpg', 'img-responsive')
        h4.text-light
          a(href="team-member-04.html") Kimberly Barker
        h6.text-gray-light Patient Services Manager
        p Kimberly worked for numerous dental offices in the US and Canada during her 20 years long career. And while she will not drill your teeth personally, she will make sure that everything is running smoothly before, during and after your appointment!
        .offset-top-auto
          ul.list-inline.list-inline-md
            li
              a.icon.reveal-inline.icon-primary.fa-facebook(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-twitter(href='#')
            li
              a.icon.reveal-inline.icon-primary.fa-google-plus(href='#')