$doc_font_size: 16px;
$doc_font_family: 'Open Sans', sans-serif;
$body_background_color: unquote('#fafafa');

$form_padding_left: 10px;
$form_border_color: unquote('#70707045');
$info_container_border_color: unquote('#70707045');
